APScheduler==2.1.2
Flask==0.9
Flask-Admin==1.5.5
Flask-Login==0.3.0
Jinja2==2.11.1
MarkupSafe==1.1.1
SQLAlchemy==1.3.13
WTForms==2.2.1
Werkzeug==0.16.0
argparse==1.4.0
certifi==2019.11.28
chardet==3.0.4
ckanserviceprovider==0.0.5
-e git+https://github.com/GSA/datapusher@bceeec4f5ee031deb9df48fb0ea1beb4b393e6ee#egg=datapusher-master
enum34==1.1.6
html5lib==0.9999999
idna==2.8
json-table-schema==0.2.1
lxml==4.5.0
messytables==0.15.2
psycopg2==2.8.2
python-dateutil==2.8.1
python-magic==0.4.15
python-slugify==4.0.0
requests==2.22.0
six==1.14.0
text-unidecode==1.3
urllib3==1.25.8
wsgiref==0.1.2
xlrd==1.2.0
